<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ProMan</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  
    </head>
    <body>
        <body>
            <center>
            <h1>User log in</h1>
            <form action="" method="POST">
                <br>
                <label>User nickname or email:</label>
                <input type="text" name="user_name"/>
                <br><br> 
                <label>User password:</label>
                <input type="password" name="password"/> 
                <br><br>
                <button type="submit" value="Submit">Login</button>
                {% if message %}
                <p>{{ message }}</p>
                {% endif %}
            </form>
            <br>
            <a href="/">Back to main page</a>
            </center>
        </body>

    </body>
</html>